<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://attempt6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3017b140-5ea1-401e-9bf9-00bbe8133d13/resourceGroups/INFT_group/providers/Microsoft.Web/sites/Attempt6</ResourceId>
    <UserName>$Attempt6</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://attempt6.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>